# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
celan_venv/
.venv/
venv/

# =========================
# Django
# =========================
db.sqlite3
staticfiles/
media/

# =========================
# Environment / secrets
# =========================
.env
.env.*
*.env

# =========================
# Docker
# =========================
pgdata*/
postgres_data/
docker-volume/
*.pid

# =========================
# Logs
# =========================
*.log

# =========================
# OS / editor junk
# =========================
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp


# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / cache
# =========================
build/
dist/
*.egg-info/

